.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.max-width-100 {
    max-width: 100%;
}

.max-height-100 {
    max-height: 100%;
}

.width-screen {
    width: 100vw;
}

.height-screen {
    height: 100vh;
}